replicaCount: 1

image:
  repository: <registry/repository>
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

container:
  port: 8080

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
